@tailwind base;
@tailwind components;
@tailwind utilities;

.portable-text img {
  max-height: 300px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .portable-text img {
    max-height: 500px;
  }
}
